<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="index.css" />
        <script src="index.js" defer></script>
    </head>
    <body>
        <header>
            <h1>Documentinator</h1>
            <q>Develop, <strike>Document,</strike> Deploy</q>
        </header>
        <section class="process-card">
            <label class="file">
                <div class="cross"></div>
                Choose a file or drag it here
                <input type="file" name="" id="" />
            </label>
            <code class="preview"> Upload a file to view </code>
        </section>
    </body>
</html>
