<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="index.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js" defer></script>
        <script src="index.js" defer></script>
    </head>
    <body>
        <header>
            <h1>Documentinator</h1>
            <q>Develop, <strike>Document,</strike> Deploy</q>
        </header>
        <section class="process-card">
            <label class="file">
                <div class="cross"></div>
                Choose a file or drag it here
                <input type="file" name="" id="" />
            </label>
            <code class="preview">
                <div class="tool-bar">
                    <h3>No file opened</h3>
                    <button>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                        >
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M9 16.2l-3.2-3.2-1.4 1.4 4.6 4.6L20.6 7l-1.4-1.4z"
                            />
                        </svg>
                    </button>
                </div>
                <pre>Upload a file to view</pre>
            </code>
        </section>
    </body>
</html>
