@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=Kanit:wght@400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-val: 165, 49, 221;
    --l-primary-val: 197, 120, 234;
    --d-primary-val: 115, 28, 157;
    --primary: rgb(var(--primary-val));
    --l-primary: rgb(var(--l-primary-val));
    --d-primary: rgb(var(--d-primary-val));
    --dark: #2c2c2c;
    --light: #f0f0f0;
    --grey: #555;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--light);
}

::-webkit-scrollbar {
    --size: 0.6em;
    width: var(--size);
    height: var(--size);
}

::-webkit-scrollbar-track {
    background: var(--dark);
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    opacity: 0.5;
    background-color: var(--grey);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    display: none;
}

body::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}

body::-webkit-scrollbar-track {
    opacity: 0.5;
}