@import url('./base.css');

/* Typography */
body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 28px;
    color: var(--primary);
}

h2 {
    font-size: 24px;
    color: var(--primary);
}

h3 {
    font-size: 20px;
    color: var(--primary);
}

p {
    margin-bottom: 10px;
}

a {
    color: var(--primary);
    text-decoration: none;
}

/* Page Layout */
body {
    padding: 0 20%;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: var(--light);
    border: 1px solid var(--grey);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* List */
ol {
    list-style-type: decimal;
    margin-left: 20px;
}

/* API Response */
strong {
    font-weight: bold;
}

.api article{
    margin-left: 2em;
    padding: 1em;
    border: 2px solid var(--dark);
}

/* Media Queries */
@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
    }
}
