@import url('./base.css');

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--d-green);
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light);
}

header > h1 {
    font-size: 50px;
}
header > q {
    margin: 0;
    font-size: 25px;
}

.process-card {
    height: 90vh;
    padding: 5em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5em;
}

.process-card > * {
    border-radius: 1em;
}

.process-card input[type='file'] {
    opacity: 0;
}

.process-card label {
    border: 5px dashed var(--green);
    background-color: var(--l-green); /* lord forgive me */
    overflow: hidden;
    font-size: 25px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.process-card label:hover {
    cursor: pointer;
}
.process-card label *:hover {
    cursor: pointer;
}
.process-card label .cross:has(+ input[type='file']:focus) {
    filter: brightness(2);
}

.process-card label .cross {
    --size: 3em;
    width: var(--size);
    height: var(--size);
    position: relative;
    margin: 1em;
}
.process-card label .cross::before,
.process-card label .cross::after {
    content: '';
    display: block;
    background-color: var(--d-green);
    position: absolute;
    border-radius: 9999px;
}
.process-card label .cross::before {
    width: 100%;
    height: calc(var(--size) / 8);
    top: 50%;
    transform: translateY(-50%);
}
.process-card label .cross::after {
    height: 100%;
    width: calc(var(--size) / 8);
    left: 50%;
    transform: translateX(-50%);
}

.process-card code {
    background-color: var(--dark);
    color: var(--light);
    padding-top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.process-card code .tool-bar {
    display: flex;
    width: 100%;
    height: 3em;
    padding: 1em;
    margin: 0;
    border-bottom: 1px solid var(--grey);
    box-shadow: 0 2px 1em black;
    align-items: center;
    position: relative;
}

.process-card code button {
    background: none;
    border: none;
    fill: var(--green);
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1/1; /* tHiS wEbSiTe WoRks BeSt On ChRoMe */
    padding: 0.4em;
    margin: 0;
    cursor: pointer;
}

.process-card code button svg {
    margin: 0;
    width: 100%;
    height: 100%;
}

.process-card code pre {
    margin: 0;
    padding: 1em;
    overflow-y: auto;
    height: 100%;
    flex: 1;
}

.process-card code pre.loading {
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.process-card code pre.loading::before {
    content: '';
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 5px solid var(--light);
    border-top-color: var(--grey);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
